<a href="<%= landings_y_path %>">Página Y</a>

<h1>Landings#z</h1>
<p>Find me in app/views/landings/z.html.erb</p>

<%= @mensaje %>

<ul>
  <% @val.each do |thing| %>
    <li><%= thing %></li>
  <% end %>
</ul>

<%# Esto es un comentario %>

<%= @val %>
