// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landings.z{
  background-color: darkgray;
}

.landings.y{
  background-color: white;
}

.landings.x{
  background-color: brown;
}

.landings.discounts{
  background-color: green;
}

.img-landings {
  width: 200px;
}

